# If you want to uninstall KoboMail just place an empty file called UNINSTALL next to this configuration file
# and next time KoboMail runs it will delete itself

[imap_config]
    # you need to activate IMAP for your gmail account
    imap_host = "imap.gmail.com"
    imap_port = 993

    # email account
    imap_user = "user@gmail.com"

    # for gmail you should use the following instructions
    # gmail app password. you will need to generate a password specifically for KoboMail
    # this can be done here: https://support.google.com/mail/answer/185833?hl=en-GB
    # other email services please review their configuration options
    imap_pwd = "password"

    # IMAP folder to process
    imap_folder = "INBOX"

    # there's two methods KoboMail can identify emails destined to be imported into you're Kobo device:
    #  - plus:      where the email server allows sending emails to user+flag@server.com (like gmail)
    #email_flag_type = "plus"
    #email_flag = "kobo"

    #  - subject:   where KoboMail will search for emails with a subject like [flag] or $flag$ .
    #               We recommend using something unique so there's no false positives, for example
    #               if you just put Kobo you might be allowing KoboMail to detect regular emails from Rakuten Kobo
    email_flag_type = "subject"
    email_flag = "[MyKobo]"

    # flag to process all emails sent to kobo device or only the unread emails
    email_unseen = true

[processing_config]
    # delete all emails processed by KoboMail
    # be very careful when enabling this, as it can result in data loss!
    email_delete = false

    #list the files KoboMail should get from the emails:
    #filetypes = ["epub", "kepub", "mobi", "pdf", "cbz", "cbr", "txt", "rtf"]
    filetypes = ["epub", "kepub"]

    # perform a full rescan of the Kobo Library
    # defaults to an abbreviated scan
    full_rescan = false

    #process epub files with kepubify to generate the kepub version with know improvements
    #not yet implemented
    #kepubify = true

[application_config]
    # create a NickelMenu entry to manually trigger KoboMail execution
    # for this to have effect, make sure to install NickelMenu (https://pgaskin.net/NickelMenu/)
    create_nickelmenu_entry = true

    # specify the location where KoboMail will download email attachments
    library_path = "/mnt/onboard/KoboMailLibrary"

    # run KoboMail when WiFi connects
    run_on_wifi_connect = true

    # set this to false if you wish to disable notifications (even if NickelDbus is installed)
    show_notifications = true
